$utilities: map-merge(
  $utilities,
  (

    // Legacy/BS4 Left & Right alignments
    "margin-rigth": (
      responsive: true,
      property: margin-right,
      class: mr,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-left": (
      responsive: true,
      property: margin-left,
      class: ml,
      values: map-merge($spacers, (auto: auto))
    ),
    "padding-right": (
      responsive: true,
      property: padding-right,
      class: pr,
      values: $spacers
    ),
    "padding-left": (
      responsive: true,
      property: padding-left,
      class: pl,
      values: $spacers
    ),
    "text-align": map-merge(
      map-get($utilities, "text-align"),
      (
        values: map-merge(
          map-get(map-get($utilities, "text-align"), "values"), (
            left: left,
            right: right,
            justify: justify
          ),
        ),
      ),
    ),
    // "text-justify": (
    //   property: text-justify,  // Note: Not really supported in Chrome
    //   local-vars: (
    //     "text-align": "justify"
    //   ),
    //   values: (
    //     auto: auto,
    //     inter-word: inter-word,
    //     inter-character: inter-character,
    //     none: none,
    //     initial: initial,
    //     inherit: inherit
    //   )
    // ),

    // Legacy/BS4 Left & Right borders
    "rounded-right": (
      property: border-top-right-radius border-bottom-right-radius,
      class: rounded-right,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-left": (
      property: border-top-left-radius border-bottom-left-radius,
      class: rounded-left,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),

    // Legacy/BS4 Left & Right floats
    "float": map-merge(
      map-get($utilities, "float"),
      (
        values: map-merge(
          map-get(map-get($utilities, "float"), "values"), (
            left: left,
            right: right
          ),
        ),
      ),
    ),

    // Missing color inversion
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"), (
            "inverted": var(--#{$prefix}body-bg),
            "inherit": inherit,
            "initial": initial,
            "revert": revert,
            "revert-layer": revert-layer,
            "unset": unset
          ),
        ),
      ),
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"), (
            "inverted": var(--#{$prefix}body-color)
          ),
        ),
      ),
    ),

    // Text font sets
    "text-font": (
      property: font-family,
      class: text,
      values: (
        "sans-serif": var(--#{$prefix}font-sans-serif),
        "serif": var(--#{$prefix}font-serif),
        "monospace": var(--#{$prefix}font-monospace)
      ),
    ),

  )
);
